/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: #A62120;
  --secondary-red: #B50014;
  --primary-black: #000000;
  --secondary-black: #252525;
  --primary-white: #ffffff;
}

/* Logo Element */

/* Header Element */
header {
  width: 100vw;
  height: 100px;
}

.header-top {
  width: 100%;
  height: 100px;
  background-color: var(--secondary-red);
}
.header-bottom {
  width: 100%;
  height: 50px;
  background-color: var(--secondary-black);
}

